body{
    margin:0;
    font-family:Poppins, sans-serif;
    background:#f4f6f8;
    color:#2d3436;
}

/* HERO */
.hero{
    background:#2c3e50;
    color:white;
    padding:60px 20px;
}

.hero-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    max-width:1000px;
    margin:auto;
}

.hero-img img{
    width:200px;
    border-radius:10px;
}

.hero h1 span{
    color:#00cec9;
}

.btn{
    display:inline-block;
    padding:10px 20px;
    background:#00cec9;
    color:white;
    border-radius:5px;
    text-decoration:none;
    margin-top:10px;
}

/* SECTION */
section{
    max-width:900px;
    margin:30px auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

h2{
    border-left:5px solid #00cec9;
    padding-left:10px;
}

/* CARD */
.card{
    background:#f1f2f6;
    padding:15px;
    margin-top:10px;
    border-radius:8px;
}

/* CONTACT */
#contact{
    background:#2c3e50;
    color:white;
    text-align:center;
}

/* RESPONSIVE */
@media(max-width:768px){
    .hero-container{
        flex-direction:column;
        text-align:center;
    }

    .hero-img{
        margin-top:20px;
    }
}
